Package: moe.misty.fouldecrypt
Name: fouldecrypt
Version: 0.0.5
Architecture: iphoneos-arm64e
Depends: applist,zip,{{.depends}}
Description: Directly decrypt binaries like flexdecrypt, but also supports iOS 14
Maintainer: misty
Author: misty
Section: System
Tag: role::hacker
