Package: moe.misty.fouldecrypt
Name: fouldecrypt
Version: 0.0.4
Architecture: iphoneos-arm
Depends: zip
Description: Directly decrypt binaries like flexdecrypt, but also supports iOS 14
Maintainer: misty
Author: misty
Section: System
Tag: role::hacker
